@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


body {
  background-image: linear-gradient(#03648A, #02233D);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  opacity: 0;
  animation: fadeIn 3s forwards;
}

/* .fade-in-content {
  opacity: 1;
} */

.page-loaded .fade-in-content {
  opacity: 1;
}

.navbar .jd-logo img {
  width: 50px;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
  font-size: 25px;
  white-space: nowrap;
}

.nav-title {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar {
  transition: 0.5s ease;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar :hover {
  color: gray;
}

.joel-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#joel-pic {
 border-radius: 50%;
 height: 200px;
 border: 2px solid white;
}

.about-me-info {
  color: white;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-motto-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.personal-motto {
  color: #BDBDBD;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap; /* Allows the icons to wrap onto new rows */
  gap: 20px; /* Space between icons */
  justify-content: center; /* Centers the items horizontally */
  margin: 20px; /* Adjust as needed */
}

.tech-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 25px;
  padding: 5px;
  box-sizing: border-box;
  width: 100px;
  height: 60px;
  filter: invert(1) brightness(1);
  color: black;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.tech-icon:hover {
  transform: translateY(-10px);
  background-color: #2980b9;
}

.tech-icon img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.tech-icon p {
  margin: 0;
  font-weight: bolder;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

#projects-title {
  color: white;
  font-size: 25px;
}

.projects-container {
  max-width: 800px;
  width: 100%;
}

.projects-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #eee;
}

.project-card-content {
  padding: 20px;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333; /* Dark text color for better readability */
}

.project-card-content p {
  color: #666;
  line-height: 1.6;
}

.project-card-content a {
  color: #007BFF;
  text-decoration: none;
}

.project-card-content a:hover {
  text-decoration: underline;
}
