body {
  background-image: linear-gradient(#03648A, #02233D);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.page-container {
  opacity: 0;
  transition: opacity 1s ease-in;
  height: 100%;
}

.page-loaded .page-container {
  opacity: 1;
}

.fade-in-content {
  opacity: 0;
  transition: opacity 5s ease-in;
}

.page-loaded .fade-in-content {
  opacity: 1;
}

.navbar .jd-logo img {
  width: 80px;
}

.navbar h3 {
  padding: 10px;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
}

.nav-title {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar {
  transition: 0.5s ease;
}

.navbar :hover {
  color: gray;
}

.menu {
  border-right: 2px solid white;
}

.menu-item {
  padding: 10px;
  transition: transform 0.3s ease, color 0.5s ease;
}

.menu-item a {
  color: white;
  font-size: large;
  text-decoration: none;
  transition: color 0.5s ease;
  display: block;
  padding: 10px;
}

.menu-item a:hover {
  color: gray;
}

.menu-item:hover {
  transform: translateX(-10px);
}


.middle-section {
  display: flex;
  min-height: calc(100vh);
}
