#profile-pic {
    border-radius: 50%; /* Makes the profile picture circular, adjust as needed */
    height: 100px; /* Fixed height */
    width: 100px; /* Fixed width */
    margin-left: 20px; /* Adds some space between the text and the picture */
}

#main-header {
    display: flex;
    align-items: center; /* This will vertically center the flex items */
    justify-content: center; /* This centers the items horizontally in the container, remove or adjust if you want a different alignment */
    text-align: center; /* Center the text inside the header */
    padding: 25px;
    background-color: cornflowerblue;
    border-radius: 25px;
   }

